@import "tailwindcss";
@import "@heroui/styles"; 


/*
main-bg:   bg-[#f0f5f0]
card-bg : bg-[#fafcfa] 
btn-bg : bg-[#068a3f]

*/

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
